<span class="chat-left" id="users">
                    	<div class="no-of-users">15 Users</div>

                    	<ul class="users-list" id="users-list-id">
                            <li class="users">
                                <span class="status offline"></span>
                                <span class="user-id">Abdul-Rehman@gmail.com</span>
                            </li>
                            <li class="users">
                                <span class="status online"></span>
                                <span class="user-id">Abid.Hussain@gmail.com</span>
                            </li>

                            <li class="users">
                                <span class="status online"></span>
                                <span class="user-id">Adnan-Mukhtar@gmail.com</span>
                            </li>

                            <li class="users">
                                <span class="status offline"></span>
                                <span class="user-id">Ahmed-Hassan@gmail.com</span>
                            </li>

                            <li class="users">
                                <span class="status offline"></span>
                                <span class="user-id">Barkan.Saeed@vizteck.com</span>
                            </li>

                            <li class="users">
                                <span class="status online"></span>
                                <span class="user-id">Ammar.Shahid@vizteck.com</span>
                            </li>

                            <li class="users">
                                <span class="status online"></span>
                                <span class="user-id">Farhan.Sabir@vizteck.com</span>
                            </li>

                            <li class="users active">

                                <span class="status online"></span>
                                <span class="user-id">Ahmad.Saeed@vizteck.com</span>
                            </li>

                        </ul>

                    </span>