<span id="msgs" class="chat-right">
        				<div class="message-with padding-style1">
                            <a href="#" class="back-icon"></a>
                            <span class="status online"></span>
                            <span class="user-id">Ahmad.Saeed@vizteck.com</span>
                        </div>

                    	<div class="messages-wrapper padding-style1">

                            <div class="date-wrapper">
                                <div class="date">
                                    <span class="date-day">26 April</span>
                                </div>
                            </div>

                            <div class="messages">
                                <span class="person-name">Ahmad Saeed <b>12:15pm</b></span>
                                <span class="who-message-me-bg message-text">
                                	It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                </span>
                            </div>


                            <div class="messages">
                                <span class="person-name">Me <b>12:35pm</b></span>
                                <span class="messages-by-me-bg message-text">
                                	The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                </span>
                            </div>





                        </div>

                        <div class="padding-style1 type-messages-wrapper">
                            <textarea class="type-messages" placeholder="Type your message here"></textarea>
                            <button type="button" class="btn-send-message">
                                <img src="app/assets/images/send-message.svg" alt="send-message.svg" class="img-responsive">
                            </button>
                        </div>
                    </span>